.html{ 
 background-color: #a9a9a9;
 } 
 
.header {
  border-bottom: 3px solid white;
  font-family:"sans-serif";
  font-size: 30px;
  background-color: #A9A9A9	; 
} 

.header-logo{
  color:blue;
} 

.header p{
  font-size: 15px;
} 

.containts{
  float: left;
  background-color: #F5F5F5;
  width: 700px;
  height: 1500px; 
} 

.footer p{
  font-size: 25px;}
  
.sideber{
  margin-left: 10px;
  float: right;
  background-color: #dda0dd;
  width: 300px;
  height: 300px;
}

.main{
  display: flex;
}

